////
// Headline Styles
////
.headline {
  @include -shift-up(12);

  @include breakpoint(medium) {
    @include -shift-up(16);
  }

  @include breakpoint(large) {
    @include -shift-up(20);
  }

  @include breakpoint(xlarge) {
    @include -shift-up(26);
  }

  // Control the size of the slider on different display sizes.
  .headline-slider-reel {
    @include container;
    padding: ($base * 6) ($base * 3);
    width: 100%;

    @include breakpoint(medium) {
      width: 80%;
    }

    @include breakpoint(large) {
      width: 50%;
    }

    @include breakpoint(xxlarge) {
      width: 45%;
    }

    // Styles for the slider.
    .headline-slider {
      @include dot-slider;

      .headline-slider-container {
        @include dot-slider-container;
      }

      .headline-slider-slide {
        @include dot-slider-slide;
      }

      .headline-slider-image {
        @include dot-slider-image;
      }

      .headline-slider-caption {
        @include dot-slider-caption;
      }

      .headline-slider-caption-text {
        @include dot-slider-caption-text;
      }

      .headline-slider-next {
        @include dot-slider-next;
      }

      .headline-slider-previous {
        @include dot-slider-previous;
      }

      .headline-slider-bullets {
        @include dot-slider-bullets;
      }
    }
  }

  // Parallax scrolling effect for background image.
  .parallax-fixed-slider {
    @include parallax-fixed-slider($solar-panel-image, 0.2);
  }
}

// Must be outside .headline to work properly with parallax.js.
.parallax-scroll-slider {
  @include parallax-scroll-slider;
}