////
// Research Banner Styles
////
.research-banner {
  @include banner(
    $semiconductor-image,
    ($base * 42),
    ($base * 6)
  );

  @include breakpoint(large) {
    margin: ($base * 18) 0;
  }

  .research-banner-container {
    @include banner-container;

    .bubble {
      @include bubble(
        ($base * 36),
        ($base * 5),
        ($base * 3)
      );

      @include breakpoint(medium) {
        @include bubble(
          ($base * 42),
          ($base * 6),
          ($base * 4)
        );
      }
    }

    .bubble-content {
      @include bubble-content;

      h3,
      h6 {
        color: $white;
        margin: 0;
      }

      h6 {
        color: $warning-color;
      }

      p {
        margin: 0;
        margin-top: $base;
        line-height: 1.2;
        font-style: italic;
      }
    }

    .bubble-green {
      background-color: rgba($success-color, 0.9);
    }

    .bubble-blue {
      background-color: rgba($secondary-color, 0.9);
    }

    .bubble-purple {
      background-color: rgba($primary-color, 0.9);
    }
  }
}