////
// Custom variables.
////

// Base unit upon which all sizing and spacing is based.
$base-unit: 8;

// Base pixel size upon which all sizing and spacing is based.
$base: 8px;

// Max width of the centered page container.
$grid-container: rem-calc(150 * $base);


// Solar panel background image.
$solar-panel-image: './../img/backgrounds/solar-panel-gradient.png';

// Semiconductor background image.
$semiconductor-image: './../img/backgrounds/semiconductor.png';