////
// Banner component styles.
////
@mixin banner($url, $diameter, $overhang) {
  @include parallax-fixed-background($url);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  // Create an overhang effect above/below the banner on large displays.
  @include breakpoint(large) {
    height: $diameter - $overhang * 2;
    margin: $overhang 0;
  }
}

// Generate the banner container to display bubbles in a column on
// small/medium displays and as a row on large displays.
@mixin banner-container {
  @include container;
  @include grid;
  flex-flow: column nowrap;
  justify-content: space-around;

  @include breakpoint(large) {
    flex-flow: row nowrap;
  }
}

// Generate a banner bubble.
@mixin bubble($diameter, $padding, $margin) {
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: $diameter;
  height: $diameter;
  padding: $padding;
  margin: $margin 0;

  @include breakpoint(large) {
    margin: 0 $margin;
  }
}

// Generate the banner bubble content.
@mixin bubble-content {
  margin: 0;
  color: $white;
  text-align: center;
}