////
// Styleguide theme styles for displaying a styleguide
// of the site elements and components.
////

// Base container class.
.styleguide {
  @include container;
  margin-top: ($base * 10);

  // Remove clearance for fixed header on small/medium dispaly sizes.
  @include breakpoint(large) {
    margin-top: 0;
  }

  // Base grid class.
  .grid {
    @include grid;
    justify-content: space-around;
    padding: 0 ($base * 2);

    @include breakpoint($grid-container) {
      padding: 0;
    }
  }

  // Base cell class that occupies the full grid
  // on all displays.
  .cell-full {
    @include cell(12);
  }

  // Base cell class that occupies the full grid
  // on small displays and half the grid on medium
  // and large displays.
  .cell-half {
    $sizes: (
      small: 12,
      medium: 6
    );
    @include cell($sizes);

    @include breakpoint(medium) {
      &:first-of-type {
        padding-right: ($base * 2);
      }

      &:last-of-type {
        padding-left: ($base * 2);
      }
    }
  }

  // Base cell class that occupies the full grid on
  // small displays, half the grid on medium displays,
  // and one-third of the grid on large displays.
  .cell-third {
    $sizes: (
      small: 12,
      medium: 6,
      large: 4
    );
    @include cell($sizes);
  }


  // Base styles for the styleguide's section headers only.
  .sg-h1,
  .sg-h2,
  .sg-h3,
  .sg-h4 {
    color: $dark-gray;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: ($base * 0.5);
  }


  // Base styles for the styleguide's sections.
  .sg-section {
    margin-bottom: ($base * 3);
    
    @include breakpoint(medium) {
      margin-bottom: ($base * 6);
    }
  }

  // Styleguide page header.
  .sg-title {
    font-size: ($base * 5);
    text-align: center;
    letter-spacing: $base;
    margin-top: ($base * 4);
    padding-bottom: $base;
    border-bottom: 1px solid $medium-gray;

    @include breakpoint(large) {
      border-image: radial-gradient(circle, $medium-gray, $light-gray) 1;
    }
  }

  // Styleguide section header.
  .sg-section-title {
    display: inline-block;
    border-bottom: 1px solid $light-gray;
    font-size: ($base * 3.5);
    margin-bottom: ($base * 2);
    
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }

  // Base styles for a styleguide item.
  .sg-item {
    padding: $base;
  }

  // Base styles for a styleguide item's metadata.
  .sg-metadata {
    font-weight: 400;
    font-size: ($base * 1.75);
    font-style: italic;
    color: $dark-gray;
  }

  // Styles for styleguide color swatches.
  .sg-item-color {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: ($base * 3) 0;

    &:first-of-type {
      margin-top: 0;
    }

    // Style the color swatch itself.
    .color-swatch {
      width: ($base * 5);
      height: ($base * 5);
      border-radius: 100%;
      
      @include breakpoint(large) {
        width: ($base * 7);
        height: ($base * 7);
      }

      &.manganese {
        background-color: $primary-color;
      }

      &.cobalt {
        background-color: $secondary-color;
      }

      &.copper {
        background-color: $success-color;
      }

      &.sulfur {
        background-color: $warning-color;
      }

      &.phosphorous {
        background-color: $alert-color;
      }

      &.carbon {
        background-color: $black;
      }

      &.calcium {
        background-color: $white;
        border: 1px solid $medium-gray;
      }

      &.tin {
        background-color: $light-gray;
      }

      &.aluminum {
        background-color: $medium-gray;
      }

      &.lead {
        background-color: $dark-gray;
      }
    }

    // Style the name of the color.
    .color-name {
      color: $black;
      margin: 0;
      margin-left: ($base * 2);
      width: 35%;
      
      @include breakpoint(large) {
        margin-left: ($base * 6);
        width: 30%;
      }
    }
  }


  // Base styles for the typography sample section.
  .sg-typography-sample {
    @include breakpoint(medium) {
      width: 70%;
      margin: 0 auto;
    }
  }


  // Base styles for the bubble banner sample section.
  $diameter: ($base * 42);
  .bubble-banner-sample {
    @include banner(
      $semiconductor-image,
      $diameter,
      ($base * 6)
    );

    .bubble-banner-container {
      @include banner-container;

      .bubble {
        @include bubble($diameter, ($base * 6), ($base * 4));
      }

      .bubble-content {
        @include bubble-content;
      }

      .bubble-green {
        background-color: $success-color;
      }

      .bubble-blue {
        background-color: $secondary-color;
      }

      .bubble-purple {
        background-color: $primary-color;
      }
    }
  }


  // Base styles for the gallery dot sample section.
  .gallery-dot-sample {
    @include gallery;
  
    .gallery-background {
      @include gallery-background-img($solar-panel-image);
    }
  
    .gallery-container {
      @include gallery-container;
  
      .gallery-title {
        @include gallery-title;
      }
    
      .gallery-dot {
        @include gallery-dot(38);

        @include breakpoint(large) {
          width: ($base * 42);
          height: ($base * 42);
        }
  
        .dot-img {
          @include gallery-dot-img(20);
        }
          
        .dot-header {
          @include gallery-dot-header;
        }
      
        .dot-subheader {
          @include gallery-dot-subheader;
        }
      }      
    }
  }


  // Base styles for the gallery tile sample section.
  .gallery-tile-sample {
    @include gallery;
    background-color: $secondary-color;

    .gallery-container {
      @include gallery-container;

      .gallery-title {
        @include gallery-title;
        color: $white;
      }

      .gallery-tile {
        @include gallery-tile;

        .tile-container {
          @include tile-container;

          .tile-header {
            @include tile-header;
          }

          .tile-body {
            @include tile-content;
          }

          .tile-read-more {
            @include tile-link;
          }
        }

        .tile-tag {
          @include tile-tag;
        }

        .date {
          @include date;

          .date-month {
            @include date-month;
          }

          .date-day {
            @include date-day;
          }
        }
      }
    }
  }


  // Base styles for the dot slider sample section.
  .dot-slider-sample {
    margin: 0 auto;
    
    @include breakpoint(medium) {
      width: 60%;
    }

    @include breakpoint(large) {
      width: 40%;
    }

    .dot-slider {
      @include dot-slider;

      .dot-slider-container {
        @include dot-slider-container;
      }
  
      .dot-slider-slide {
        @include dot-slider-slide;
      }
  
      .dot-slider-image {
        @include dot-slider-image;
      }

      .dot-slider-caption {
        @include dot-slider-caption;
      }

      .dot-slider-caption-text {
        @include dot-slider-caption-text;
      }
  
      .dot-slider-next {
        @include dot-slider-next;
      }
  
      .dot-slider-previous {
        @include dot-slider-previous;
      }
  
      .dot-slider-bullets {
        @include dot-slider-bullets;
      }
    }
  }

  // Base styles for the parallax scroll sample section.
  .parallax-fixed-slider {
    @include parallax-fixed-slider($solar-panel-image, 0.2);
  }
  
  .parallax-scroll-content {
    padding: ($base * 20) 0;
  }
  
  .parallax-scroll-banner {
    background-color: rgba($black, 0.6);
    color: $white;
    padding: ($base * 16) ($base * 8);
  }
}

// Must be outside .styleguide to work properly with parallax.js.
.parallax-scroll-slider {
  @include parallax-scroll-slider;
}