/// Height of header on small/medium displays.
$header-height-small: $base * 7;

/// Height of header on large displays.
$header-height-large: $base * 28;

/// Navbar height before page scrolling.
$navbar-height-expanded: $base * 12;

/// Navbar height after page scrolling.
$navbar-height-collapsed: $base * 8;

/// Navbar hover diameter.
$navbar-hover-diameter: $base * 20;


////
// Header : Base Styles
////
@mixin header {
  height: $header-height-small;
  position: relative;
  z-index: 100;

  @include breakpoint(large) {
    height: $header-height-large;
  }
}

@mixin header-top {
  background-color: $white;

  .header-top-container {
    @include container;
    @include grid;
    width: 100%;

    @include breakpoint(small) {
      background-color: $white;
      box-shadow: 0px 6px 24px 1px rgba(0,0,0,0.3);
      height: $header-height-small;
      position: fixed;

      .logo img {
        max-height: $header-height-small - 16;
      }
    }

    @include breakpoint(large) {
      box-shadow: none;
      position: relative;
      height: $header-height-large - $navbar-height-expanded;

      .logo img {
        max-height: $header-height-large - $navbar-height-expanded - 32;
      }
    }
  }
}

@mixin -header-section {
  @include cell(6);
  display: flex;
  align-items: center;
}

@mixin header-left {
  @include -header-section;
  padding-left: ($base * 2);

  @include breakpoint(large) {
    padding: 0;
  }
}

@mixin header-right {
  @include -header-section;
  justify-content: flex-end;
  padding-right: ($base * 2);

  @include breakpoint(large) {
    padding: 0;
  }
}

@mixin header-bottom {
  display: none;

  @include breakpoint(large) {    
    display: block;
  }
}

@mixin header-search {
  display: none;
  
  @include breakpoint(large) {
    @include search-form(($base * 7), true);
  }
}

@mixin header-toggle {
  @include breakpoint(large) {
    display: none;
  }
}


.header {
  @include header;

  .header-top {
    @include header-top;
  
    .header-left {
      @include header-left;
    }
    
    .header-right {
      @include header-right;
    }
  }
  
  .header-search {
    @include header-search;
  }
  
  .header-toggle {
    @include header-toggle;
  }

  .header-bottom {
    @include header-bottom;
  }
}