////
// Galler : Base Styles
////
.gallery {
  position: relative;
  margin-bottom: -180px;
  top: -90px;
  z-index: -1;

  .gallery-background {
    background-image: url('https://rawgit.com/jwmay/uwmemc/master/img/gallery-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
  }

  .gallery-content {
    @include xy-grid-container;
    @include xy-grid;
    padding: 20 * $spacer 0;
    justify-content: center;
  }
  
  .gallery-item {
    width: 320px;
    height: 320px;
    padding: 4 * $spacer;
    background-color: $white;
    border-radius: 100%;
    margin-bottom: 5 * $spacer;
    text-align: center;
    box-shadow: 3px 3px 10px 3px #aaa;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    .portrait {
      border-radius: 100%;
      height: 20 * $spacer;
    }

    .name {
      margin-top: 2 * $spacer;
      margin-bottom: 0;
      font-size: 1.4rem;
    }

    .title {
      color: $dark-gray;
      line-height: 1.2;
    }
  }

  ////
  // Gallery : Medium Dispaly Styles
  ////
  @include breakpoint(medium) {

    .gallery-content {
      justify-content: space-around;
    }

    .gallery-item {

      .name {
        font-size: 1.6rem;
      }
    }
  }
  
  ////
  // Gallery : Large Dispaly Styles
  ////
  @include breakpoint(large) {
    top: -60px;
    margin-bottom: -140px;

    .gallery-item {
      width: 360px;
      height: 360px;

      .portrait {
        height: 24 * $spacer;
      }

      .name {
        font-size: 1.8rem;
      }
    }
  }
}