////
// Jumbotron : Base Styles
////
.jumbotron {
  background-color: $secondary-color;
  border-radius: 0  0 100% 100%;
  display: flex;
  position: relative;
  width: 200%;
  left: -50%;

  .jumbotron-content {
    @include xy-grid-container;
    @include xy-grid;
    width: xy-cell-size(1/2);
    padding-top: 3 * $spacer;
    padding-bottom: 12 * $spacer;
    color: $white;

    .item {
      @include xy-cell();
      @include card-container();
      border-radius: 0 400px 400px 0;
      padding: 3 * $spacer;
      padding-right: 13 * $spacer;
      max-height: 30 * $spacer;

      .item-content {
        height: 100%;
        overflow-y: hidden;

        .date {
          color: $dark-gray;
          font-style: italic;
          font-size: 2 * $spacer;
          line-height: 3 * $spacer;
        }
  
        h4 {
          margin: $spacer 0 0 0;
          font-weight: $global-weight-bold;
          font-size: 3 * $spacer;
          line-height: 4 * $spacer;
  
          a {
            color: $black;
  
            &:hover {
              color: lighten($primary-color, 10%);
            }
          }
        }
        
        .excerpt {
          font-size: 1.5 * $spacer;
          line-height: 2 * $spacer;
        }
      }
    }
  }

  ////
  // Jumbotron : Medium Dispaly Styles
  ////
  @include breakpoint(medium) {

    .jumbotron-content {
      padding-bottom: 12 * $spacer;

      .item {
        margin-bottom: 1.5rem;

        .item-content {

          .date {
            font-size: 2.5 * $spacer;
            line-height: 3 * $spacer;
          }
  
          h4 {
            font-size: 4 * $spacer;
            line-height: 5 * $spacer;
          }
  
          .excerpt {
            font-size: 2 * $spacer;
            line-height: 3 * $spacer;
          }
        }
      }
    }
  }

  ////
  // Jumbotron : Large Dispaly Styles
  ////
  @include breakpoint(large) {
    margin-top: 12 * $spacer;

    .jumbotron-content {
      padding-bottom: 10 * $spacer;

      .item {
        @include xy-cell(50%);
        margin-bottom: 2rem;
      }
    }
  }
}