@keyframes multicolorBackground {
  0% {
    background-color: $primary-color;
  }
  25% {
    background-color: $secondary-color;
  }
  50% {
    background-color: $success-color;
  }
  75% {
    background-color: $warning-color;
  }
  100% {
    background-color: $alert-color;
  }
}