////
// QD Slider : Base Styles
////
.qd-slider {
  @include orbit-wrapper;
  overflow-x: hidden;

  .qd-slider-container {
    @include orbit-container;
    height: auto !important;

    .qd-slider-slide {
      @include orbit-slide;
      padding-bottom: 20px;

      .qd-slider-image {
        @include orbit-image;
        border-radius: 100%;
        box-shadow: 0 -2px 20px 2px $dark-gray;
      }
    }
  }

  .qd-slider-left,
  .qd-slider-right {
    display: none;
  }

  .qd-slider-next,
  .qd-slider-previous {
    @include orbit-control;
    border-radius: 100%;
  }

  .qd-slider-next {
    @include orbit-next;
  }

  .qd-slider-previous {
    @include orbit-previous;
  }

  .qd-slider-bullets {
    @include orbit-bullets;

    button {
      width: 0.8rem;
      height: 0.8rem;
      background-color: $primary-color;
      cursor: pointer;
    
      &.is-active {
        background-color: $medium-gray;
      }
    }
  }

  ////
  // QD Slider : Small Display Styles
  ////
  @include breakpoint(small) {
    .qd-slider-container {
      width: 140%;
      left: -20%;
      margin-top: -120px;  
    }

    .qd-slider-next {
      right: 10px;
      top: 40%;
    }
    
    .qd-slider-previous {
      left: 10px;
      top: 40%;
    }

    .qd-slider-bullets {
      margin-top: -60px;
      margin-bottom: 60px;
    }
  }
  
  ////
  // QD Slider : Medium Display Styles
  ////
  @include breakpoint(medium) {
    .qd-slider-container {
      width: 120%;
      left: -10%;
      margin-top: -240px;
    }
    
    .qd-slider-next,
    .qd-slider-previous {
      top: 32%;
    }
  }
  
  ////
  // QD Slider : Large Display Styles
  ////
  @include breakpoint(large) {
    margin-bottom: 14 * $spacer;

    .qd-slider-background {
      background-image: url('/img/gallery-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.2;
      z-index: -1;
    }

    .qd-slider-container {
      width: 60%;
      left: 20%;

      // Create room for image box-shadow.
      .qd-slider-slide {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    
    .qd-slider-left,
    .qd-slider-right {
      display: block;
      position: absolute;
      top: -10%;
      width: 40%;
      filter: blur(3px) grayscale(0.5) brightness(105%);
      transition: all 0.5s ease;

      img {
        border-radius: 100%;
        border: 2px solid $black;
      }
    }

    .qd-slider-left {
      left: -8%;
    }

    .qd-slider-right {
      right: -8%;
    }
    
    .qd-slider-next {
      right: 23%;
    }
    
    .qd-slider-previous {
      left: 23%;
    }
    
    .qd-slider-bullets {
      button {
        &:hover {
          background-color: $alert-color;
          animation: multicolorBackground 1s ease-in-out;
          transition: all 1s ease-in-out;
          transform: scale(1.7);
        }
      }
    }
  }

  ////
  // QD Slider : X-Large Display Styles
  ////
  @include breakpoint(xlarge) {
    .qd-slider-container {
      width: 50%;
      left: 25%;
    }

    .qd-slider-left {
      left: 4%;
    }

    .qd-slider-right {
      right: 4%;
    }

    .qd-slider-next {
      right: 27%;
    }

    .qd-slider-previous {
      left: 27%;
    }
  }
}