<footer>
    <div class="footer">
      <div class="footer-container">
        <div class="footer-section">
          <ul class="nav">
            {{> navigation}}
          </ul>
        </div>
        <div class="footer-section sponsor-section">
          <h3>Sponsors</h3>
          <a href="https://www.nsf.gov" target="_blank">
            <img src="{{root}}assets/img/sponsors/nsf-logo.png" alt="NSF Logo" class="sponsor nsf" >
          </a>
          <a href="https://www.mrsec.org/" target="_blank">
            <img src="{{root}}assets/img/sponsors/mrsec-logo.png" alt="MRSEC Logo" class="sponsor mrsec">
          </a>
        </div>
        <div class="footer-section contact-section">
          <img class="logo" src="{{root}}assets/img/branding/uwmemc-logo-white.png" alt="UW MEM-C Logo">
          <div class="address">
            Molecular Engineering and Materials Center<br/>
            Box 351700<br/>
            Department of Chemistry<br/>
            University of Washington<br/>
            36 Bagley Hall<br/>
            Seattle, WA 98195-XXXX<br/>
            P: (206) XXX-XXXX<br/>
            F: (206) XXX-XXXX<br/>
          </div>
        </div>
        <div class="footer-bottom">
          &copy; 2017 <a href="http://www.psistardesigns.com" target="_blank">Psi Star Designs</a>
          <span class="spacer">|</span>
          <a href="{{root}}contact.html">Contact</a>
          <span class="spacer">&middot;</span>
          <a href="{{root}}privacy.html">Privacy</a>
          <span class="spacer">&middot;</span>
          <a href="{{root}}sitemap.html">Site Map</a>
        </div>
      </div>
    </div>
  </footer>
</div>