<div class="nav-menu-container off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlap">
  <ul class="vertical menu">
    {{> navigation}}
  </ul>
</div>

<div class="off-canvas-content" data-off-canvas-content>
  <header class="header">
    <div class="header-container">
      <div class="header-top-row">
        <div class="header-section header-section-left">
          <div class="header-branding" id="branding">
            <a href="index.html">
              <img src="{{root}}assets/img/branding/uwmemc-logo.png" alt="UW MEM-C Logo">
            </a>
          </div>
        </div>
        <div class="header-section header-section-right">
          <div class="header-search">
            <div class="search-toggle" id="searchToggle">
              <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            </div>
            <div class="search-form">
              <form role="search" method="get" id="searchform" action="">
                <input type="search" id="searchForm" name="query" placeholder="search">
                <button class="search-button">
                  <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="header-toggle" data-toggle="offCanvas">
            <div>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-sticky-container>
      <nav class="navbar sticky" data-sticky data-margin-top="0" data-top-anchor="branding:bottom">
        <ul class="nav">
          {{> navigation}}
        </ul>
      </nav>
    </div>
  </header>