////
// Header component styles.
////
@mixin header {
  position: relative;
  z-index: 100;
  height: ($base * 10);

  @include breakpoint(large) {
    height: ($base * 32);
  }
}

@mixin header-container {
  background-color: $white;
}

@mixin header-row {
  @include container;
  @include grid;
}

@mixin header-section {
  @include cell(6);
  display: flex;
  align-items: center;
  height: 100%;
}

@mixin header-section-left {
  padding-left: ($base * 2);

  @include breakpoint(large) {
    padding: 0;
  }
}

@mixin header-section-right {
  justify-content: flex-end;
  padding-right: ($base * 2);

  @include breakpoint(large) {
    padding: 0;
  }
}

@mixin header-branding {
  height: 100%;

  a {
    display: block;
    height: 100%;

    &:hover {
      border: none;
    }
  }

  img {
    max-height: 100%;
  }
}

// Search form displayed only on large dispaly sizes.
@mixin header-search {
  display: none;
  
  @include breakpoint(large) {
    @include search-form(($base * 7), true);
  }
}

// Mobile navigation menu toggle component with animation when clicked.
@mixin header-toggle {
  width: ($base * 3);
  cursor: pointer;

  // Hamburger icon created with span nested inside a div. This allows the
  // central span to be hidden and the outer div to trans
  div {
    border-top: 3px solid $black;
    border-bottom: 3px solid $black;
    transition: all 0.5s ease-in-out;

    span {
      display: block;
      background-color: $black;
      height: 3px;
      margin: 4px 0;
      transition: all 0.5s ease-in-out;
    }
  }

  // Convert hamburger menu to a red close circle when clicked.
  .is-open-right & div {
    background-color: $alert-color;
    border: 3px solid $black;
    border-radius: 100%;
    height: ($base * 3);

    span {
      display: none;
    }
  }

  // Hide the menu toggle on large displays.
  @include breakpoint(large) {
    display: none;
  }
}


.header {
  @include header;

  .header-container {
    @include header-container;
  }
  
  // Header with mobile nav toggle fixed to the top of the page on
  // small/medium dispaly sizes.
  .header-top-row {
    @include header-row;
    width: 100%;
    height: ($base * 10);
    background-color: $white;
    box-shadow: 0 6px 24px 1px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;

    // Header scrolls with page on large display sizes. Only the navbar will
    // remained fixed on the top of the page when scrolling down.
    @include breakpoint(large) {
      height: ($base * 20);
      background-color: transparent;
      box-shadow: none;
      position: relative;
    }
  }

  .header-section {
    @include header-section;
  }

  .header-section-left {
    @include header-section-left;
  }

  .header-section-right {
    @include header-section-right;
  }

  .header-branding {
    @include header-branding;
    padding: $base 0;
    
    @include breakpoint(large) {
      padding: ($base * 4) 0;
    }
  }

  .header-search {
    @include header-search;
  }

  .header-toggle {
    @include header-toggle;
  }
}