////
// Navigation layout styles.
////

// Horizontal navbar component.
@mixin navbar {
  @include top-bar-container;
  background-color: $white;
  height: ($base * 12);
  box-shadow: 0px 6px 24px 1px rgba(0,0,0,0.3);
  transition: height 0.25s ease;
  justify-content: center;
  overflow-y: hidden;
  
  // Slight shrink of the height of the navbar when user scrolls down page.
  &.is-stuck {
    height: ($base * 8);
  }
}

// Horizontal navbar menu component.
@mixin navbar-menu {
  @include menu-base;
  width: $grid-container;
  justify-content: center;
}

// Individual navbar links with animated hover effect.
@mixin navbar-item {
  $diameter: ($base * 20);
  width: $diameter;
  height: $diameter;
  line-height: $diameter;
  padding: 0;
  text-align: center;
  color: $dark-gray;
  font-size: $base * 3;
  font-weight: $global-weight-normal;
  text-transform: uppercase;

  &:hover {
    background-color: $alert-color;
    border-radius: 100%;
    border: 0;
    opacity: 0.8;
    color: $white;
    animation: multicolorBackground 1s linear;
  }
}


// Vertical navigation menu component.
@mixin nav-menu {
  border-radius: 1000px 0 0 1000px;
  padding-right: ($base * 2);
  text-align: right;
  
  // Smaller menu size and spacing on smaller displays.
  top: -30px;
  height: 480px;
  padding-top: 130px;
  padding-left: 90px;
    
  // Larger menu size and spacing on larger displays.
  @include breakpoint(medium) {
    top: -60px;
    height: 600px;
    padding-top: 180px;
    padding-left: 80px;
  }
  
  li a {
    display: inline-block;
    text-transform: uppercase;
    color: $dark-gray;
    font-size: ($base * 3);
    margin-bottom: ($base / 2);
    padding: 6px 0;
    
    @include breakpoint(medium) {
      font-size: ($base * 3);
      margin-bottom: $base;
      padding: 8px 0;
    }
  
    &:hover {
      color: $alert-color;
      padding-bottom: 4px;
    }
  }
}


.navbar {
  @include navbar;
  display: none;

  // Show navbar on large display sizes.
  @include breakpoint(large) {
    display: flex;
  }
  
  .nav {
    @include navbar-menu;

    li a {
      @include navbar-item;
    }
  }
}

.nav-menu-container {
  @include nav-menu;
}