////
// Search Form Base Styles
////
@mixin search-form($diameter, $expanded: false, $width: 600px) {
  display: block;
  position: relative;

  .search-form {
    position: absolute;
    top: 0;
    right: 0;

    input {
      border-radius: 50px;
      width: $diameter;
      height: $diameter;
      padding: 0 20px;
      margin: 0;
      z-index: 1;
      transition: all 1s ease;

      @if $expanded == true {
        &.expanded {
          width: $width;
          padding-right: 60px;
        }
      }
      @else {
        width: $width;
        padding-right: 60px;
      }
    }
  }

  .search-button,
  .search-toggle {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: $diameter;
    width: $diameter;
    background-color: lighten($primary-color, 5%);
    color: $white;
    border-radius: 100%;
    z-index: 100;
  }

  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }
  
  .search-toggle {
    transition: all 0.25s ease;

    &:hover {
      transform: scale(1.2);
      background-color: lighten($primary-color, 10%);
    }
  }
}